<!DOCTYPE html>
<html>

<head>
  <title>
    <%= dataSite.title %>
  </title>
  <%- include('includes/links'); -%>
</head>

<body>
  <%- include('includes/menus'); -%>
  <div class="container">
    <h1>
      <%= dataSite.title %>
    </h1>
    <div class="row">
      <div class="col-md-3 mb-2">
        Dashboard
      </div>
    </div>
  </div>
</body>

</html>