<!DOCTYPE html>
<html>

<head>
    <title>
        <%= dataSite.title_forbidden %>
    </title>
    <%- include('includes/links'); -%>
</head>

<body>
    <%- include('includes/menus'); -%>
    <div class="container">
        <h1>
            <%= dataSite.title_forbidden %>
        </h1>
    </div>
</body>

</html>