<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include('includes/links'); -%>
</head>

<body>
  <%- include('includes/menus'); -%>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="col-md-12">
        Vista publica
      </div>
    </div>
  </div>
</body>

</html>