#editor {
    padding: 15px;
    border: solid 1px #2196F3;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    min-height: 80%;
}

.editor-button {
    font-size: 16px;
    color: #37474F;
    background: #E3F2FD;
    border: solid 1px #2196F3;
    padding: 4px;
    min-width: 25px;
    height: 25px;
    text-align: center;
    line-height: 1;
    margin-bottom: 5px;
    border-radius: 5px;
}

.editor-button-bold {
    font-weight: 600;
}

#point-move {
    display: none;
    background: red;
    width: 10px;
    height: 10px;
    position: fixed;
}