<div id="image-galery" class="image-galery">
    <div class="image-galery-container">
        <button id="image-galery-close"><i class="icofont-ui-close"></i></a></button>
        <div class="container-image">
            <div id="target-imgs" class="row mx-0"></div>
        </div>
    </div>
</div>
<script>

    // Implement and register module
    Quill.register('modules/counter', function (quill, options) {
        var container = document.querySelector('#counter');
        quill.on('text-change', function () {
            var text = quill.getText();
            // There are a couple issues with counting words
            // this way but we'll fix these later
            container.innerText = text.split(/\s+/).length;
        });
    });

    var imageHandler = function (event) {
        debugger;
    }
    var toolbarOptions = ['bold', 'italic', 'underline', 'strike', 'image'];
    var options = {
        debug: 'info',
        placeholder: 'Inspirece...',
        readOnly: false,
        theme: 'snow',
        modules: {
            toolbar: '#toolbar',
            imageResize: {
                displaySize: true,
                modules: ['Resize', 'DisplaySize', 'Toolbar']
            }
        }
    };
    var editor = new Quill('#editor', options);

    // tool imagen

    document.getElementById('image-galery-close').addEventListener('click', function (event) {
        document.getElementById('image-galery').className = "image-galery";
    }, false);


    var insertImageInEditor = function (event) {
        event.preventDefault();
        var sel = editor.getSelection(true);
        editor.insertEmbed(sel.index, 'image', event.target.dataset.src);
        document.getElementById('image-galery').className = "image-galery";
    }

    var clickSetImage = function (event) {
        event.preventDefault();
        var parent = event.target.parentElement

        // parent.children[1].style.display = 'block'
    };

    var btn = document.getElementById('insert-image-tool')
    btn.addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('image-galery').className = "image-galery open";
        document.getElementById('target-imgs').innerHTML = ''
        fetch('/cemese/galery/json', {
            method: 'get',
        }).then(e => {
            e.json().then(f => {
                f.forEach(element => {

                    var cont = document.createElement('div');
                    var b = document.createElement('div');
                    var i = document.createElement('img');

                    cont.className = "col-4 col-sm-2 col-md-2";

                    b.dataset.src = element.uri

                    b.className = "card mb-2";

                    i.src = element.medium
                    i.alt = element.originalname
                    i.dataset.src = element.thumbnail

                    i.className = "card-img-top"

                    b.addEventListener('click', clickSetImage, false)

                    document.getElementById('target-imgs').appendChild(cont)
                    cont.appendChild(b)
                    b.appendChild(i)

                    // SIZE SELECTOR
                    var selectorElement = document.createElement('div')
                    selectorElement.className = 'editor-image-selector'
                    // selectorElement.style.display = 'none'

                    var setMin = document.createElement('div')
                    setMin.addEventListener('click', insertImageInEditor, false)
                    setMin.dataset.src = element.thumbnail
                    var setMinTxt = document.createTextNode('S')
                    setMin.appendChild(setMinTxt)

                    var setMed = document.createElement('div')
                    setMed.addEventListener('click', insertImageInEditor, false)
                    setMed.dataset.src = element.medium
                    var setMedTxt = document.createTextNode('M')
                    setMed.appendChild(setMedTxt)

                    var setBig = document.createElement('div')
                    setBig.addEventListener('click', insertImageInEditor, false)
                    setBig.dataset.src = element.uri
                    var setBigTxt = document.createTextNode('O')
                    setBig.appendChild(setBigTxt)

                    selectorElement.appendChild(setMin)
                    selectorElement.appendChild(setMed)
                    selectorElement.appendChild(setBig)
                    b.appendChild(selectorElement)
                });
            })
        }).catch(e => {
            alert(e)
        });
        // var image = prompt('image')
        // editor.insertEmbed(sel.index, 'image', image);
    }, false);

    var btn = document.getElementById('insert-video-tool')
    btn.addEventListener('click', function (event) {
        event.preventDefault();
        var sel = editor.getSelection(true);
        var url = prompt('Url')
        editor.insertEmbed(sel.index, 'video', url);
    }, false);

    //save form
    document.getElementById('form-save').addEventListener('submit', function (event) {
        event.preventDefault();
        var h = editor.container.children[0].innerHTML;
        document.getElementById('target-editor').value = h;
        document.getElementById('form-save').submit();
    });
</script>